body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  background-color: #202020;
  color: #ffffff;
}

.main {
  max-width: 1200px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.library {
  display: flex;
  height: 200px;
}

.artist-list {
  flex: 1;
}

.album-list {
  flex: 1;
}

.song-list {
  flex: 1;
  overflow-y: scroll;
}

.list-item {
  padding: 7px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

.player-controls {
  display: flex;
  height: 80px;
  border: 2px solid #8AE3F0;
  border-radius: 4px;
}

.player-controls__button {
  flex-grow: 1;
  font-size: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #8AE3F0;
}

.list-item:hover {
  background-color: rgba(116, 150, 183, 0.2)
}

.playlist {
  display: flex;
  flex-direction: column;
}

.song-list__song {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 7px 16px;
  user-select: none;
  cursor: pointer;
}

.song-list__song--highlight {
  color: #34cbdf;
}

.song-list__song:hover {
  background-color: rgba(116, 150, 183, 0.2)
}

.song-list__song-title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.song-list__song-album {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.song-list__song-artist {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}